body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e6e6e6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.container {
  display: flex;
  height: 100vh;
  background-color: #f9f9f9;
}

.webcam-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  border-right: 2px solid #ddd;
  background-color: #fff;
}
#root {
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
}
.app {
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
}
.webcam {
  width: 100%;
  height: 47%;
  flex-grow: 1;
}
.face {
  width: 100%;
  height: 47%;
  flex-grow: 1;
}
.hidden {
  display: none;
}
.output-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  background-color: #f2f2f2;
}
.prediction-text {
  font-size: 24px;
  text-align: center;
  color: #777;
  margin-bottom: 10px;
}
.output {
  font-size: 48px;
  text-align: center;
  color: #444;
  font-weight: bold;
}
