.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  .videoOut {
    border: 1px solid black;
    max-width: 600px;
    max-height: 500px;
    margin: 3px;
  }
  
  .videoIn {
    display: none;
  }

  .camera {
    border: 1px solid black;
    max-width: 600px;
    max-height: 500px;
    margin: 3px;
  }